[is=asb-navigation]
  background-color: white
  padding: 1.2rem 1rem
  border-bottom: 1px solid #000

  .home
    text-decoration: none
    color: black
    font-weight: bold
    display: none
    font-size: 1.6rem

@media (min-width: 1000px)
  [is=asb-navigation]
    display: grid
    grid-template-columns: 25% auto
    .home
      display: block

@media (min-width: 768px)
  [is=asb-navigation] .list-wrapper
    display: grid
    grid-template-columns: auto auto
